body {
	background-color: #2A2740; 
}

.App {
  text-align: center;
  height: 100%;  
}

.Title {
	width: 800px;
	height: 1px; 
	margin: auto; 
 	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat; 
	padding-top: 300px; 
	background-image: url(./images/Rick.png); 
	
	/* @media all and (min-width:768px){
		width: 470px;
		padding-top: 120px;
} */
}

.NameInput {
	width: 300px; 
	height: 40px; 
	border: 3px outset #87D984; 
	background-color: #2A2740;
    box-shadow: 2px 2px 10px white;
	font-size: 20px;  
}

.PaintCharacter {
	display: flex; 
	flex-wrap: wrap; 
}
.CharacterName {
	background-color: rgb(223, 77, 19); 
	width: 300px; 
	height: 50px;
	text-align: center; 
	margin: auto; 
}

.CharacterSpecies {
	background-color: #2a1659;
	width: 300px; 
	height: 50px;
	text-align: center;
	margin: auto;  
}

.CharacterPhotoContainer {
	margin-bottom: 20px; 
	padding-top: 30px; 
}

.ContainerCharacter {
	background-color: #A2D99A; 
	list-style: none;
	height: 500px;
	width: 320px; 
	text-align: center; 
	margin: 0px; 
	padding: 0px;
	margin-bottom: 20px; 
	display: flex; 
	flex-wrap: initial;  
}

.Cartoons {
	list-style: none;
  	align-content: center;
	align-items: center;
	display: grid;
 	grid-template-columns: auto auto auto auto;
}

.card {
	text-decoration: none; 
	width: 1px; 
	display: flex; 
	flex-wrap: wrap; 
}

.CardLink { 
	text-decoration: none; 
}


/* CHARACTER DETAIL */
.DetailLink {
	text-decoration: none; 
}

.ContainerCharacterDetail {
	background-color: #A2D99A;
	list-style: none;
	margin-right: 20%; 
	margin-left: 20%;
	display: flex; 
	height: 300px;
	padding: 40px; 
}

.PaintCharacterDetail {
	display: flex;
}
/* .CharacterPhotoContainerDetail { 
} */
.CharacterPhotoDetail {
	background-color: brown; 
}

.ContainerFeaturesDetail {
	display: block;  
	
}

.CharacterNameDetail {
	background-color: rgb(129, 185, 64); 
	color: white; 
	height: 30px; 
	padding-top: 15px; 
	margin-left: 20px; 
	margin-top: 10px; 
	margin-bottom: 10px; 	  
}

.CharacterSpeciesDetail {
	background-color: #04BF9D; 
	color: white;
	height: 30px; 
	width: 150px; 
	padding-top: 15px;
	margin-left: 20px; 
	margin-bottom: 10px; 
}
.CharacterStatusDetail {
	background-color: #165946;
	color: white; 
	height: 30px; 
	padding-top: 15px;
	margin-left: 20px; 
	margin-bottom: 10px; 
}
.CharacterPlanetDetail {
	background-color: #524373;
	color: white; 
	height: 30px; 
	padding-top: 15px;
	margin-left: 20px; 
	margin-bottom: 10px; 
}
.CharacterEpisodesDetail {
	background-color: rgb(136, 90, 114);
	color: white;
	height: 30px; 
	padding-top: 15px; 
	margin-left: 20px;  
	margin-bottom: 30px; 
}

.BackContainer {
	/* background-color: rgb(8, 168, 155);  */
	margin-left: 20px; 
}




/* grid al ul */
/* auto auto */
/* li display flex, center */



